.wrapper {
    width: 95%;
    display: grid;
    max-height: 70rem;
    grid-template-columns: 2fr 9fr 5fr;
    grid-template-rows: 4.8rem 4rem 5fr;
    gap: .6rem;
    align-items: stretch;
}

.wrapper h1 {
    grid-column: 1 / -1;
    font-size: 4rem;
    position: relative;
    padding-left: 1rem;
    bottom: -17px;
    color: var(--grayLight);
    background: repeating-linear-gradient(180deg, var(--grayLight) 0%, #a8a8a8dd 7%);
    background-blend-mode: overlay;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}


.stats {
    grid-column: 1 / 3;
    color: var(--gray);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: normal;
    padding: .4rem 0;
    background: var(--glassy-background);
    border: 1px solid var(--grayLight);
    position: relative;
    box-shadow: 0px -2px 2px 0px var(--grayLight);
}

.skill-points {
    display: flex;
    background: var(--gradieant-gray);
    border-block: 1px solid var(--lightBorder);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px .8rem;
    box-shadow: 0px -2px 2px 0px var(--grayLight);
    border: 1px solid var(--grayLight);
}

.projects {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project__card {
    color: var(--gray);
    display: flex;
    flex-direction: column;

}

.skills {
    background: linear-gradient(180deg, rgba(75, 73, 73, 0.1) 50%, rgba(41, 39, 39, 0.5) 70%, rgba(201, 196, 196, 0.120) 100%);
    overflow-y: auto;
    padding: .4rem;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        display: flex;
        max-height: unset;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .wrapper>* {
        width: calc(100vh * 0.65)
    }

    .wrapper h1 {
        display: block;
        text-align: center;
    }

    .stats {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .skill-points {
        flex-wrap: wrap;
    }

    .stats__aquiredSkills {
        margin-left: unset;
        text-align: center;
    }

    .skills {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}
