:root {
    --white: #fff;
    --dark: #152222;
    --gray: #d5d5d5;
    --grayLight: #69646a;
    --lightBorder: rgba(255, 255, 255, 0.1);
    --white: rgb(246, 246, 246);
    /* --glassy-background: radial-gradient(circle, rgba(246, 246, 246. 0.4) 50%, rgba(246, 246, 246, 0.7) 70%, rgba(40, 44, 55, 0.9) 100%); */
    --glassy-background: linear-gradient(120deg, rgba(246, 246, 246. 0.4) 50%, rgba(246, 246, 246, 0.7) 70%, rgba(246, 246, 246, 0.9) 100%);
    --grided-gradaint: repeating-linear-gradient(135deg, #626a67c7 4%, #5e6462c7 6%), conic-gradient(from 135deg at 100% 39%, #1d4e5f45 0%, #15222255 20%), 10% 26% / 100% auto repeat radial-gradient(farthest-corner at 3% 7%, #2d34346e 0%, #2c343411 72%, #2c343499 100%);
    --yallow: #f7d703;
    --step--size: 5rem;
    --green-army: #595959;
    --linker-dash: rgba(255, 255, 255, 0.342);
    --gradieant-gray: linear-gradient(178deg, rgba(40, 41, 41, 0.9) 0%, rgba(52, 52, 51, .5) 82%, rgba(79, 80, 82, 0.3) 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    font-family: 'Forza';
    color: var(--white);
    background: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background: radial-gradient(49% 81% at 45% 47%, #1d4e5f45 24%, #1d4e5f45 35%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #2B261FAA 16%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #2b261fAA 52%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #020303FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #020303FF 0%, #1d4e5fFF 99%);
}

.glassy-background {
    background: linear-gradient(180deg, rgba(75, 73, 73, 0.1) 50%, rgba(41, 39, 39, 0.5) 70%, rgba(201, 196, 196, 0.120) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.01);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.divize.io/images/css/noise-light.webp);
    background-repeat: repeat;
    visibility: visible;
    opacity: .2;
    pointer-events: none;

}

.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 3rem;
    opacity: 1;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#303044 1px, transparent 1px), linear-gradient(to right, #303044 1px, #0f0f17 1px);
    background-size: 30px 30px;
    opacity: .3;
}

.wrapper {
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 9fr 5fr;
    grid-template-rows: 1fr;
    gap: .6rem;
    align-items: stretch;
}

.wrapper h1 {
    /* border: 1px solid var(--yallow); */
    grid-column: 1 / -1;
    font-size: 4rem;
    position: relative;
    padding-left: 1rem;
    bottom: -17px;
    color: var(--grayLight);
    background: repeating-linear-gradient(180deg, var(--grayLight) 0%, #a8a8a8dd 7%);
    background-blend-mode: overlay;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

.stats {
    grid-column: 1 / 3;
    color: var(--gray);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: normal;
    padding: .4rem 0;
    background: var(--glassy-background);
    border: 1px solid var(--grayLight);
    position: relative;
    box-shadow: 0px -2px 2px 0px var(--grayLight);
}

.stats::before {
    content: "";
    background-color: var(--gray);
    height: .5rem;
    width: .5rem;
    top: 0px;
    position: absolute;
}

.stats>* {
    border-right: 1px solid var(--grayLight);
    padding-inline: .8rem;
}

.stats__aquiredSkills {
    margin-left: auto;
    border-right: none;
}

.skill-points {
    display: flex;
    background: var(--gradieant-gray);
    border-block: 1px solid var(--lightBorder);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px .8rem;
    box-shadow: 0px -2px 2px 0px var(--grayLight);
    border: 1px solid var(--grayLight);
}

.skill-points strong {
    font-size: 2rem;
    font-weight: 400;
    color: var(--yallow);
}

.projects {
    display: flex;
    flex-direction: column;
}

/* tree styles */
.steps-tree--wrapper {
    background: linear-gradient(180deg, rgba(75, 73, 73, 0.1) 50%, rgba(41, 39, 39, 0.5) 70%, rgba(201, 196, 196, 0.120) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    padding: 4rem;
    overflow-x: auto;
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    gap: var(--step--size);
    height: 100%;
}

.tree__body {
    display: flex;
    gap: calc(var(--step--size) * 0.5);
    flex-direction: column;
}

.tree__body--row {
    display: flex;
    width: fit-content;
}

.steps__linker--sm {
    margin-left: calc(var(--step--size));
}

.steps__linker--lg {
    margin-left: calc(var(--step--size) * 3);
}

.steps__linker--sm::after,
.steps__linker--lg::after {
    content: "";
    height: 4px;
    background-color: var(--linker-dash);
    position: absolute;
    top: 50%;
    right: 100%;
}

.steps__linker--sm::after {
    width: calc(var(--step--size) + 2px);
}

.steps__linker--lg::after {
    width: calc(var(--step--size) * 3 + 2px);
}

.steps__linker--start-sm {
    margin-left: calc(var(--step--size) * 0.5);
}

.steps__linker--start-lg {
    margin-left: calc(var(--step--size) * 2.5);
}

.steps__linker--start-sm::after,
.steps__linker--start-lg::after {
    content: "";
    height: calc(var(--step--size) * 1.5);
    width: calc(var(--step--size) * 0.5);
    border-left: 4px solid var(--linker-dash);
    border-top: 4px solid var(--linker-dash);
    position: absolute;
    top: 50%;
    right: 100%;
}

.steps__linker--start-lg::after {
    width: calc(var(--step--size) * 2.5);
}

.steps__linker--start-sm::after {
    width: calc(var(--step--size) * 0.5);
}

.steps__row--last .steps__linker--start-sm::after,
.steps__row--last .steps__linker--start-lg::after {
    border-left: none;
}

.tree__root .step::after {
    content: "";
    width: calc(var(--step--size) * 1.07);
    border-top: 4px solid var(--linker-dash);
    position: absolute;
    top: 50%;
    left: 100%;
}

.step {
    width: var(--step--size);
    height: var(--step--size);
    border: 2px solid var(--yallow);
    background-color: var(--green-army);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step::before {
    content: "";
    position: absolute;
    width: calc(var(--step--size) * 0.75);
    height: calc(var(--step--size) * 0.75);
    border: 4px solid var(--grayLight);
}

.step img {
    width: calc(var(--step--size) * .9);
    transform: scaleY(-1) rotate(180deg);
    position: relative;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.step__tasks {
    color: var(--gray);
    padding-left: 4px;
    position: absolute;
    --p: 15px;
    height: 20px;
    width: 50px;
    aspect-ratio: 1;
    clip-path: polygon(0 0, calc(100% - var(--p)) 0, 100% 100%, 0 100%);
    background: var(--dark);
    bottom: -15px;
    right: 20px;
    border: 1px solid rgb(95, 95, 95);
    user-select: none;
}

.step-disable {
    opacity: 0.2;
    border: 3px solid var(--gray);
}

.skill__infos {
    display: flex;
    align-items: center;
    padding: .4rem;
    font-weight: bold;
    background: var(--gradieant-gray);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
}

.skill__infos--icon {
    border: 2px solid var(--white);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill__infos--icon svg {
    color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 2px;
}

.skill__infos--title {
    font-size: 2rem;
    margin-left: .5rem;
}

.skill__infos--progressions {
    margin-left: auto;
    font-size: 2rem;
    margin-right: .8rem;
}

.project__card {
    color: var(--gray);
    display: flex;
    flex-direction: column;
}

.project__card--header {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
}

.project__card--icon {
    border: 2px solid var(--white);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__card--icon svg {
    color: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    top: 2px;
}

.project__card--title {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--white);
}

.project__card--img {
    background-color: var(--dark);
    background-image: url("https://pilgrimoutpost.techlandgg.com/img/rewards/dl1_last_hope.jpg");
    background-repeat: no-repeat;
    height: 10rem;
    background-position: center;
    background-size: cover;
}

.project__card--desc h3,
.project__card--requirement h3 {
    background: var(--gradieant-gray);
    padding: 2px 4px;
    border-block: 1px solid rgba(255, 255, 255, 0.1);
}

.project__card--desc p {
    padding: 4px;
    margin-block: 1rem;
}

.project__card--requirement {
    margin-top: auto;
}

.project__card--requirement li {
    border-bottom: 1px solid var(--lightBorder);
    padding: .7rem 4px;
    font-size: 17px;
    list-style: none;
}

.project__card--requirement li:last-child {
    border-bottom: none;
}

.project__card--requirement li::before {
    content: '✓';
    font-size: 35px;
    vertical-align: middle;
    line-height: 20px;
}

.project__card--costs {
    display: flex;
    /* background: var(--gradieant-gray); */
    background: var(--grided-gradaint);
    background-blend-mode: overlay;
    border-block: 1px solid var(--lightBorder);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px .8rem;
}

.project__card--costs strong {
    font-size: 1.5rem;
    font-weight: bold;
}

.time-cost {
    display: flex;
    align-items: center;
}

.time-cost span {
    font-size: 2.5rem;
    color: var(--yallow);
    position: relative;
    top: 5px;
}

.time-cost img {
    height: 2.5rem;
    position: relative;
    top: 3px;
}

.skill {
    background-color: #161618;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: .5rem;
    box-shadow: 0 0 10px var(--green-army);
}

.skill:first-child {
    margin-top: 0;
}

.skill__selected::before {
    content: "";
    background: repeating-linear-gradient(180deg, #9d0606ff 0%, #5e1313cf 7%), conic-gradient(from 135deg at 100% 0%, #790202ff 0%, #790202ff 38%), radial-gradient(farthest-corner at 1% 3%, #1400008f 33%, #790202ff 100%);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 5;
    top: 0;

}

.skill__img {
    height: 4rem;
    width: 4rem;
    opacity: .8;
}

.skill__progression {
    text-align: center;
    color: var(--gray);
    display: block;
    margin-top: 1rem;
    display: block;
    font-size: 2rem;
}
